ul{
    list-style: none;
    text-align: left;
}

li {
    padding: 2px;
    float: left;
}
* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

.photo{
  background-image: url(images/photo4.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
}
/*
.test{
  background-image: url("images/art2.jpeg");
  background-size: cover;
}*/
.thumbnail{
	border:none;
}
#profilePic{
	border-radius: 50%;
	width:100px;
	height:100px;
}
.menuHover:hover{
	font-size: 20px;
}
.pictimize:hover{
	font-size: 30px;
}
.imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
  opacity: 1;
}
.grid {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}



.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
  padding:1%;
}

.circular-menu {
  top: -50px;
  left:0;
  text-align: center;
  width: 250px;
  height: 250px;
  margin: 50px auto 0;
  position: absolute;
}
.menu-button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  text-decoration: none;
  text-align: center;
  color: #444;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: #dde;
  z-index: 1;
}
.menu-button{
	text-decoration: none;

}
.menu-button:hover {
  background-color: #eef;
  text-decoration: none;

}
.menu-button:active {
  background-color: #eef;
  text-decoration: none;

}
.menu-button:visited {
  background-color: #eef;
  text-decoration: none;

}
.menu-button:link {
  background-color: #eef;
  text-decoration: none;

}
.circle a {
  text-decoration: none;
  color: black;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -30px;
  margin-top: -20px;
  position: absolute;
  text-align: center;

}

.circle a:hover {
  color: grey;
}
.open.circle {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -transform: scale(1);
}
.circle {
  width: 250px;
  height: 250px;
  opacity: 0;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.imgDescription {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 30%;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}
.imgWrap .test{
	opacity: 1;
	background-color: black;
}
.imgWrap:hover .test{
	opacity: .6
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
.favorite {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 30%;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}
.imgWrap:hover .favorite {
  visibility: visible;
  opacity: 1;
}
.favoriteColor{
	color:white;
}
.favoriteColor:hover{
	color:white;
	font-size: 30px;
}

.title{
  padding-top: 10%;
}
.description{
  color: #82A2D4;

}
.share{
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
}
.tagPhoto{
  margin-left: 10px;
  margin-bottom: 20px;
  width:75vw;
}
.tagPics{
  border-radius: 10px;
}






