<div class="row">
	<div class="col-md-12 well">
		<div class="col-md-3">
			<div class="thumbnail well text-center">
				<h3>{{userInfo.username}}</h3>
				<h5>{{userInfo.full_name}}</h5>
				<img src="{{userInfo.profile_picture}}" id="profilePic">
				<h5><strong>{{userInfo.counts.followed_by}} </strong>Followers</h5>
				<h5><strong>{{userInfo.counts.follows}}</strong> Following</h5>
				<h5><strong>{{userInfo.counts.media}}</strong> Posts</h5>
			</div>		
		</div>
		<div class="col-md-7">
			<canvas id="myChart" ng-show="show"></canvas>
		</div>
		<div class="col-md-2 text-center test2">
			<nav class="circular-menu">
			  <div class="circle">
			    <a href="#media" class="fa fa-home fa-2x"></a>
			    <a href="" class="fa fa-line-chart" ng-click="show = !show"></a>
			    <a href="#favorite" class="fa fa-heart fa-2x"></a>
			    <a href="#tag" class="fa fa-tags fa-2x"></a>
			   	<a href="#finduser" class="fa fa-users fa-2x"></a>
			    <a href="" class="fa fa-rss fa-2x"></a>
			    <a href="" class="fa fa-pinterest fa-2x"></a>
			    <a href="" class="fa fa-asterisk fa-2x"></a>
			  </div>
			  <a href="" class="menu-button glyphicon glyphicon-plus"></a>
			</nav>
		</div>
		<div class="row"></div>
		<div class="input-group">
		  	<span class="input-group-addon" id="basic-addon1">#</span>
		  	<input type="text" class="form-control" ng-model="search" style="width: 100%"placeholder="Search By Tag" aria-describedby="basic-addon1">
		</div>
	</div>
	
</div>
<div class="row">
	<ul class="col-md-12">
        <li ng-repeat="p in pics | filter: search" class = "col-md-4">
               <div class="thumbnail imgWrap">
               <div class="test">
               	<a href="{{p.link}}"><img ng-src="{{p.images.standard_resolution.url}}" class = "test img-responsive"/>
               	<p class="favorite" style="font-size: 20px"><a href="" ng-click="deleteFavorite(p.id)" class="favoriteColor"><span class="fa fa-star">Remove Favorite</span></a></p>
               	<p class="imgDescription" style="font-size: 20px"><span class="glyphicon glyphicon-heart">  {{p.likes.count}}</span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-comment">  {{p.comments.count}}</span></p></a>
               </div>
                  
               </div>       
        </li>
	</ul>
</div>	
<br><br><br><br>