<div class="container-fluid photo">
	<div class="row text-center" >
		<h1>The Canvas</h1>
	</div>
	<div class="row text-center" >
		<h1>Share.Explore.Connect.Save</h1>
	</div>
	
	<div class="row text-center" >
		<div class="col-md-4">
			<h3>Share your pictures across the beauty of the web. Evoke people's imagination through your pictures and experience with the world.</h3> 
		</div>
		<div class="col-md-4">
			<h3>Explore contents that will take your imagination beyond the screen. Expand your perspective through the eyes of lenses. Browse through your favorite animals, places, food, and people.</h3>
		</div>
		<div class="col-md-4">
			<h3>Connect with people all over the world that shares your interest and passion. Make new friends and see how your pictures impact people.</h3>
		</div>
	</div>
	<div class="row">
		
	</div>
</div>