<div class="container-fluid photo">
	<div class="row text-center">
		<i class="fa fa-camera fa-5x text-primary title"></i>
	</div>
	<div class="row text-center" >
		<h1>The Canvas</h1>
	</div>
	<div class="row text-center description" >
		<h2>Share.Explore.Connect.Save</h2>
	</div>
	<br><br><br><br><br><br><br>
	<div class="row text-center">
		<div class="col-md-12">
			<div class="col-md-4 share img-rounded">
				<br>
					<p>Share your pictures across the beauty of the web. Evoke people's imagination through your pictures and experience with the world.</p> 
				<br>
			</div>
			<div class="col-md-4 share img-rounded">
				<br>
					<p>Explore contents that will take your imagination beyond the screen. Expand your perspective through the eyes of lenses. Browse through your favorite animals, places, food, and people.</p> 
				<br>
			</div>
			<div class="col-md-4 share img-rounded">
				<br>
					<p>Connect with people all over the world that shares your interest and passion. Make new friends and see how your pictures impact people.</p> 
				<br>
			</div>

		</div>
	
	</div>
	<div class="row">
		
	</div>
</div>