<div class="row test">
	
		<div class="col-md-10">
		<img src="/public/images/art.jpeg" style="opacity:.6"width="100%" height="300">
		</div>

		<div class="col-md-2 text-center test2">
			<nav class="circular-menu">
			  <div class="circle">
			    <a href="#media" class="fa fa-home fa-2x"></a>
			    <a href="" class="fa fa-line-chart" ng-click="show = !show"></a>
			    <a href="#favorite" class="fa fa-heart fa-2x"></a>
			    <a href="#tag" class="fa fa-tags fa-2x"></a>
			   	<a href="#finduser" class="fa fa-users fa-2x"></a>
			    <a href="" class="fa fa-rss fa-2x"></a>
			    <a href="" class="fa fa-pinterest fa-2x"></a>
			    <a href="" class="fa fa-asterisk fa-2x"></a>
			  </div>
			  <a href="" class="menu-button glyphicon glyphicon-plus"></a>
			</nav>
		</div>
	
	
</div>
<form ng-submit="submit()">
	<div class="form-group">
	  	<input type="text" class="form-control" ng-model="tag" style="width: 100%"placeholder="Search By Tag" aria-describedby="basic-addon1" name="tag">
	  	<button type="submit" class="btn btn-primary">Search</button>
	  </div>
</form>
  	

	<div class="grid">
		<div class="grid-sizer"></div>
	  	<div class="grid-item wow bounceIn" ng-repeat="p in pics | filter: search"><img ng-src="https://farm{{p.farm}}.staticflickr.com/{{p.server}}/{{p.id}}_{{p.secret}}_n.jpg"></div>
	</div>
	<div class="row">
		<button ng-click="more()" type="button" class="btn btn-success">More</button>
	</div>




